<%- include ("partials/Althead"); -%>
    <div class="successcontainer">
        <h1>Booking Successful</h1>
        <p>Your booking has been successfully processed.</p>
        <div class="content">
            <img src="/image/cat.jpg" alt="Confirmation Image">
            <div class="button-container">
                <a href="/" class="pill-button">Return to Home</a>
            </div>
        </div>
    </div>
<%- include ("partials/foot"); -%>