<%- include ("partials/Althead"); -%>
    <div class="successcontainer">
        <h1>Update Successful</h1>
        <p>Your booking has been successfully Updated.</p>
        <div class="content">
            <img src="/image/cat.jpg" alt="Confirmation Image">
            <div class="button-container">
                <a href="/booking/userbookings" class="pill-button">Return to Bookings</a>
            </div>
        </div>
    </div>
<%- include ("partials/foot"); -%>